<!DOCTYPE html>
<html>
<head>
  <title>Imagine</title>
  <%= stylesheet_link_tag    "imagine/application" %>
  <%= javascript_include_tag "imagine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, message| %>
  <div class='flash <%= key %>'><%= message %></div>
<% end %>

<%= yield %>

</body>
</html>
